<div class="builder-container col-md-12">
    <div class="col-md-9">
      <div class="builder-target">
        <h4>Target</h4>
        <div class="col-md-12">
          <ngx-dnd-container
            class="root-container"
            [model]="targetBuilderTools"
            dropZone="builder-target"
            [removeOnSpill]="true"
            [droppableItemClass]="droppableItemClass"
            (drag)="log($event)"
            (drop)="log($event)"
            (over)="log($event)"
            (out)="log($event)"
            (remove)="log($event)">

            <ng-template let-model="model" let-template="template">
              <div [ngSwitch]="model.type">
                <div *ngSwitchCase="'section'">
                  <!--<div class="shadow">-->
                  <div>
                    {{model.label}}
                    <ngx-dnd-container
                      dropZone="builder-target"
                      [model]="model.fielgroup"
                      [removeOnSpill]="true"
                      [template]="template"
                      [droppableItemClass]="droppableItemClass"
                      (drag)="log($event)"
                      (drop)="log($event)"
                      (over)="log($event)"
                      (out)="log($event)"
                      (remove)="log($event)"
                      (cancel)="log($event)">
                    </ngx-dnd-container>
                  </div>
                </div>
                <div *ngSwitchCase="'fila'">
                  {{model.label}}
                  <ngx-dnd-container
                    dropZone="builder-target"
                    [model]="model.fielgroup"
                    [removeOnSpill]="true"
                    [template]="template"
                    [droppableItemClass]="droppableItemClass"
                    (drag)="log($event)"
                    (drop)="log($event)"
                    (over)="log($event)"
                    (out)="log($event)"
                    (remove)="log($event)"
                    (cancel)="log($event)">
                  </ngx-dnd-container>
                </div>
                <div *ngSwitchCase="'input'">
                  <label>{{model.label}}</label>
                  <input [id]="model.id" [attr.type]="model.inputType" [class]="model.class" [ngModel]="model.data">
                </div>
                <div *ngSwitchCase="'file'">
                  <label>{{model.label}}</label>
                  <input [id]="model.id" [attr.type]="model.inputType"
                         (change)="handleFileInput($event.target.files)"
                         [class]="model.class"
                         [ngModel]="model.data">
                </div>
                <div *ngSwitchCase="'button'">
                  <label>{{model.label}}</label>
                  <button [id]="model.id" [attr.type]="model.inputType" [class]="model.class" [ngModel]="model.data">{{model.nameOut}}</button>
                </div>
                <div *ngSwitchCase="'select'">
                  <label>{{model.label}}</label>
                  <select [id]="model.id" [ngModel]="model.data" [class]="model.class" [multiple]="model.multiple" >
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
                <div *ngSwitchCase="'textArea'">
                  <label>{{model.label}}</label>
                  <textarea [id]="model.id" [class]="model.class" [ngModel]="model.data" [rows]="model.row"></textarea>
                </div>
                <div *ngSwitchCase="'check'">
                  <label> {{model.label}} </label>
                  <label>
                    <input [id]="model.id" [attr.type]="model.inputType" [class]="model.class" [ngModel]="model.data"> {{model.labelOut}}</label>
                </div>
                <div *ngSwitchCase="'radio'">
                  <label> {{model.label}} </label>
                  <label>
                    <input [id]="model.id" [attr.type]="model.inputType" [class]="model.class" [ngModel]="model.data"> {{model.labelOut}}</label>
                </div>
                <div *ngSwitchCase="'img'">
                  <label> {{model.label}} </label>
                  <img [id]="model.id" [src]="model.src"  [class]="model.class" [ngModel]="model.data" [alt]="model.alt" [width]="model.width" [height]="model.height">
                </div>
                <div *ngSwitchCase="'tiny'">
                  <label> {{model.label}} </label>
                  <editor [id]="model.id" (onSelectionChange)="handleEvent($event)" apiKey="test" [init]="{plugins: 'link'}" [(ngModel)]="dataModel"></editor>
                </div>
                <div *ngSwitchCase="'titulo'">
                  <h1>{{model.nameOut}}</h1>
                </div>
                <div *ngSwitchCase="'table'">
                  <label> {{model.label}} </label>
                  <table [id]="model.id" [class]="model.class">
                    <thead>
                    <tr>
                      <th>Firstlabel</th>
                      <th>Lastlabel</th>
                      <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>John</td>
                      <td>Doe</td>
                      <td>john@example.com</td>
                    </tr>
                    <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>mary@example.com</td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>Dooley</td>
                      <td>july@example.com</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngx-dnd-container>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="builder-source scrollAuto100">
        <h4>Source</h4>
        <ngx-dnd-container
          class="root-container"
          [model]="sourceBuilderTools"
          [dropZones]="['builder-target']"
          [copy]="true"
          [droppableItemClass]="droppableItemClassSource"
          (drag)="builderDrag($event)">

          <ng-template let-item="model">
            <i [class]="item.icon"></i>
            {{item.name}}
          </ng-template>
        </ngx-dnd-container>
      </div>
    </div>
  </div>
<div class="row justify-content-md-end">
    <div class="col-6 col-sm-2">
      <button type="button" class="btn btn-default" style="margin-right: 5px;">Cancelar</button>
      <button type="button" class="btn btn-info ">Guardar</button>
    </div>
</div>

<div class="col-md-12">
  <div>
    <h3>DATA - Form JSON</h3>
    <pre><code>{{targetBuilderTools | json}}</code></pre>
  </div>
</div>
